<% unless estimates.empty? %>

  <% estimates.sort.reverse.each do |estimate| %>
    <div class="row">
      <%= check_box_tag "estimate_ids[]", estimate.id, false,  onchange: "updateLink()",  data: { url: estimate_path(estimate), text: "Estimate ##{estimate.to_s}" }, class: "estimate-checkbox appointment" %>
      <b><%= link_to "##{estimate.doc_number}", estimate_path(estimate), target: :_blank %></b> <%= estimate.txn_date %>
    </div>
  <% end %>

<% else %>
  <p><%=t(:label_no_estimates)%>.</p>
<% end %>
