<% if @customer.present? %>

  <% @customer.estimates.order(id: :desc).each do |estimate| %>
    <div class="row">
      <b><%= link_to "##{estimate.doc_number}", estimate_path(estimate), target: :_blank %></b> <%= estimate.txn_date %>
    </div>
  <% end %>

<% else %>
  <p><%=t(:label_no_estimates)%>.</p>
<% end %>
