<% if @customer.present? %>

  <% @customer.invoices.order(doc_number: :desc).each do |invoice| %>
    <div class="row">
      <b><%= link_to "##{invoice.doc_number}", invoice_path(invoice), target: :_blank %></b> <%= invoice.txn_date %>
    </div>
  <% end %>

<% else %>
  <p><%=t(:label_no_invoices)%>.</p>
<% end %>
