<h1>Customers</h1> 
<br/> 
<% QboCustomers.all.each do |c| %>
  <div class="row">
    <div class="span6 columns">
      <fieldset>
        <% @customer = c.name%>
      </fieldset>
    </div>
  </div>
<% end %>

<div class="actions">
  <%= button_to "New", new_customer_path, method: :get %>       
</div>
