<h1>Customers</h1> 
<br/> 
<% @customers.each do |c| %>
  <div class="row">
    <div class="span6 columns">
      <fieldset>
        <% @customer = c.name%>
        <%= render :partial => 'vehicles/details' %>
      </fieldset>
    </div>
  </div>
<% end %>

<br/>

<div class="actions">
  <%= will_paginate @customers %>
  <%= button_to "New", new_customer_path, method: :get %>       
</div>
