<h1>Customer Detail</h1> 
<br/> 
<%= render :partial => 'customers/details' %>
<br/>
<%= render :partial => 'vehicles/list' %>
<br/>
<%= render :partial => 'issues/list_simple', locals: {issues: @issues} %>
