<h1>Customer #<%= customer.id %></h1> 
<br/> 
<%= render :partial => 'customers/details', locals: {customer: @customer} %>
<br/>
<%= render :partial => 'vehicles/list' %>
<br/>
<%= render :partial => 'issues/list_simple', locals: {issues: @issues} %>
