<% @vehicles.each do |vehicle| %>
  <div class="row">
    <div class="span6 columns">
      <fieldset>
        <% @customer = vehicle.customer.name if vehicle.customer %>
        <% @vehicle = vehicle %>
        <%= render :partial => 'vehicles/details' %>
        <br/>
        <div style="float: right;" >
          <%= button_to "More", vehicle_path(@vehicle), method: :get %>
        </div>
      </fieldset>
    </div>
  </div>
<% end %>

<br/>

<div class="actions">
  <%= will_paginate @vehicles %>
  <%= button_to "New", new_vehicle_path, method: :get %>       
</div>
