<h1>Customer Vehicle</h1> 
<br/> 

<div style="text-align: left; width:90%;">
  <%= render :partial => 'vehicles/details', locals: {vehicle: @vehicle} %>

  <%= render :partial => 'issues/list_simple', locals: {issues: @vehicle.issues} %>
</div>
