<% @issue.line_items.build if @issue.line_items.empty? %>

<div data-nested-form data-wrapper-selector=".line-item">
  <div data-nested-form-container>
    <%= f.fields_for :line_items do |item_form| %>
      <%= render "line_items/line_item_fields", f: item_form %>
    <% end %>
  </div>

  <template data-nested-form-template>
    <%= f.fields_for :line_items, LineItem.new, child_index: "NEW_RECORD" do |item_form| %>
      <%= render "line_items/line_item_fields", f: item_form %>
    <% end %>
  </template>

  <button type="button" data-nested-form-add>Add Line Item</button>
</div>